{
    "username": "Bazarr Bot",
    "avatar_url": "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/bazarr.png",
    "embeds": [
        {
            "title": "{{ media }}",
            "author": {
                "name": "New Subtitle Available",
                "icon_url": "https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/bazarr.png"
            },

            "color": 11164867,

            "description": "```{{ message }}```"
        }
    ]
}
